@font-face {
    font-family: 'Cloister Black';
    src: url('font/CloisterBlack.ttf');
    font-weight: 1000;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Playfair Display, sans-serif;
    background-color: floralwhite;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header, nav {
    position: fixed;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px; /* Reduced padding */
    text-align: center;
}

#logo {
    position: relative;
}

#menu-btn, #home-btn, #history-btn, #takenbake-btn {
    color: inherit;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-evenly; /* space the header content evenly */
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ecf0f1; /* Change color on hover */
}

p {
    line-height: 1.6;
}
