body {
    margin: 0;
    padding: 0;
    font-family: Playfair Display, sans-serif;
}

header, nav {
    background-color: #333;
    color: #fff;
    padding: 5px; /* Reduced padding */
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly; /* space the header content evenly */
    align-items: center;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.categories a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.categories a:hover {
    color: #ffcc00; /* Change the color on hover */
}

#menu-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.menu-section {
    display: none;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
}

.menu-section h2 {
    color: #333;
}

/* Additional styling for map iframe */
.map-container iframe {
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    max-width: 300px;
}

.footer-section h3 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 16px;
    line-height: 1.5;
}

/* Optional: Add hover effect */
.footer-section:hover {
    background-color: #555;
    transition: background-color 0.3s;
}

.category-header {
    text-align: center;
    margin-bottom: 20px;
}

.menu-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item {
    width: calc(50% - 20px); /* Adjust as needed */
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    float: left; /* Float the items to make them side by side */
}

.menu-items {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-around; /* Adjust as needed */
}

.item-name {
    font-weight: bold;
}

.item-price {
    color: orangered;
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s;
}

#scroll-to-top:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


